<div>
    <h2>Ledgers</h2>
    <ul>
      <li *ngFor="let ledger of ledgers">
        <strong>{{ ledger.name }}</strong>: {{ ledger.balance | currency }}
        <button (click)=deleteLedger(ledger.id)>Delete</button>
      </li>
    </ul>

<!-- Button um ein neues Ledger zu erstellen -->
<h3>Create a New Ledger</h3>
<form (ngSubmit)="createLedger()">
  <label for="ledgerName">Name:</label>
  <input type="text" id="ledgerName" [(ngModel)]="newLedgerName" name="ledgerName" required />

  <label for="initialBalance">Initial Balance:</label>
  <input type="number" id="initialBalance" [(ngModel)]="newLedgerBalance" name="initialBalance" required />

  <button type="submit">Create Ledger</button>
</form>

  <h3>Booking</h3>
  <form (ngSubmit)="makeTransfer()" #transactionForm="ngForm">
    <p>From:</p>
    <select [(ngModel)]="fromLedgerId" name="fromLedger" required>
      <option *ngFor="let ledger of ledgers" [ngValue]="ledger.id">
        {{ ledger.name }}
      </option>
    </select>
    <br>
    <p>To:</p>
    <select [(ngModel)]="toLedgerId" name="toLedger" required>
      <option *ngFor="let ledger of ledgers" [ngValue]="ledger.id">
        {{ ledger.name }}
      </option>
    </select>
    <br>
    <p>Amount:</p>
    <input type="number" [(ngModel)]="amount" name="amount" required>
    <br>
    <button type="submit" [disabled]="!transactionForm.valid">Make Transaction</button>
  </form>
<div *ngIf="createMessage">{{ createMessage }}</div>
</div>
